/* styles of navigation */

.cart-span{
    border-radius: 50%;
    padding: 0 3px;
    font-size: smaller;
    position: absolute;
    top: -18px;
    right: -10px;
    background-color: rgb(246, 196, 178);
}

.menu{
    position: absolute;
    right: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.425);
    z-index: 999;
}

.navigation{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 300px;
    padding: 120px 15px;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-left: 1px solid #fff;
}

/* styles of footer */

.send__icon{
    margin-left: -55px;
}